* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

/*------------Main Styling-----------*/
body {
  font-family: "Source Sans Pro", Verdana, sans-serif;
  padding: 2rem;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  color: #c0263a;
  font-size: 5em;
  margin: auto 0;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 2rem;
}

p {
  font-family: 'Hind', sans-serif;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #c0263a;
  font-weight: bolder;
}

a:hover {
  text-decoration: none;
  color: #f46e85;
  transition-duration: 0.5s;
}

a:focus {
  color: black;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color:  #c0263a;
  font-weight: bold;
  display: inline-block;
  /* width: 1em; */
  margin: 0.5rem 0.5rem;
}

/*---------End of Main Styling--------*/

.logo {
  width: 300px;
}

.nav-main {
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  align-items: center;
  background-color: white;
  padding: 1rem;
  overflow: hidden;
  flex-direction: column;
}

.nav-main .menu {
  display: none;
}

.nav-main .logo {
  order: 0;
 /* padding: 1rem;*/
}

.nav-links {
  order: 1;
}

.nav-links a {
  /* align-items: center; */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  /* padding: 2rem 1rem; */
  text-decoration: none;
  color: #c0263a;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-links a:hover {
  color: white;
  padding: 10px;
  background-color: #c0263a;
}

.input-text {
  font-family: 'Nunito Sans', sans-serif;
  border: 2px solid #c0263a;
  border-radius: 2px;
  padding: 5px;
  font-size: 1.2rem;
}

.input-text:focus {
  outline: none;
}

/*--------Interactive Elements---------*/
img {
  width: 40%;
}

.img-text {
  text-align: center;
  font-size: 1.5rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%
}

/*---------End of Interactive Elements-------------*/

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

hr {
  border: 1px solid #609F6A;
}
